@inherits LayoutComponentBase 
 <div class="page"> 
    <div class="sidebar"> 
        <NavMenu />
    </div> 

    <main>
        <div class="top-row px-4">
            <a>Inicio</a>
        <div>
            <a>Doar</a>
        </div>
        <div>
            <a>Sobre</a>
        </div>
        <div>
            <a>Contato</a>
        </div>
            <br/>
            <br/>

         <div>
            <button>Cadastrar</button>
        </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
